body{
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

img{
    width: 100%;
}

/*----------------------------------------navbar styles*/
nav{
    margin-top: 20px;
    text-align: center;
}

nav .logo,
nav .pages,
nav .account-and-cart{
    display: inline-block;
    text-align: left;
}

nav .logo{
    width: 25%;
}

nav .logo h1{
    margin-left: 20px;
}

nav .pages{
    width: 50%;
}

nav .pages ul{
    text-align: center;
}

nav .pages li{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

nav .pages ul .selected{
    font-weight: 600;
}

nav .account-and-cart{
    width: 25%;
    text-align: right;
}

nav .account-and-cart .cart,
nav .account-and-cart .account{
    display: inline-block;
    margin-right: 20px;
}
/*----------------------------------------navbar styles*/

/*----------------------------------------product-card styles*/
.product{
    text-align: left;
    display: inline-block;
    width: 250px;
    margin: 20px;
}

.product .product-image{
    background-color: white;
    overflow: hidden;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.product img{
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
}
.product span{
    display: block;
    cursor: pointer;
}

.product .title{
    font-size: 20px;
}

.product .price{
    font-size: 20px;
    cursor: default;
}

.product .category{
    margin: 5px 0;
}
/*----------------------------------------product-card styles*/

/*----------------------------------------shop styles*/
.shop{
    margin-top: 100px;
    text-align: center;
}
.shop .products{
    width: 92%;
    margin: 0 auto;
    text-align: left;
}
/*----------------------------------------shop styles*/